<h3>Main controls</h3>
<div id="globals-section">
    Control Time: <button id='pause-button' onclick="window.timeController.pause()">Pause</button><input id='time-chooser' oninput="window.timeController.update(this.value)" type='range' min='0' max='113097' style="width:800px"><br/>
    Hide Overflow?: <input rv-checked="hiddenOverflow" type='checkbox'><br/>
</div>
<div id="editor-section">
    Change page: <select id='page-chooser' onchange="window.pageChanger.changePage()">
        <option rv-each-page="pages" rv-value="page.objectId">{ page.page.name } - { page.device } - { page.name } - { page.objectId }</option>
    </select><br/>
    <button onclick="window.saver.addNewPage()">Add new blank page</button><br/>
<div rv-each-page="editPage" id="edit-section">
<h3>Page controls -  {page.objectId}</h3>
    <table>
    <tr>
        <td>
            Example name: <input rv-input="page.name">
        </td>
    </tr>
    <tr>
        <td>
            Page name: <input rv-input="page.page.name">
        </td>
    </tr>
    <tr>
        <td>
            Page X: <input rv-input="page.page.x">
        </td>
    </tr>
    <tr>
        <td>
            Page Y: <input rv-input="page.page.y">
        </td>
    </tr>
    <tr>
        <td>
            Page Speed: <input rv-input="page.page.speed">
        </td>
    </tr>
    <tr>
        <td>
            Page Perspective: <input rv-input="page.page.perspective">
        </td>
    </tr>
    <tr>
        <td>
            Page device: <input rv-input="page.device">
        </td>
    </tr>
    <tr>
        <td>
            Sounds:
        </td>
    </tr>
    <tr>
        <td>
            name, src, loop, volume
        </td>
    </tr>
    <tr rv-each-item="page.sounds">
        <td>
            <input rv-value='item.name' type="text"><input rv-value='item.src' type="text"><input rv-value='item.loop' type="number"><input rv-value='item.volume' type="number"><button onclick="window.saver.deleteSound(this)">delete</button>
        </td>
    </tr>
    <tr>
        <td>
        <button onclick="window.saver.addSound()">Add new Sound</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="window.saver.saveToParse()">Save everything on page</button>
        </td>
    </tr>
    <tr>
        <td>
            <button onclick="window.saver.dupePage()">Duplicate this page</button><br/><br/>
        </td>
    </tr>
    </table>
    <h3>Popup controls</h3>
    <table>
        <tr>
        <td>
            Change item to edit?:
            <form>
                <span rv-each-item="page.popups">
                    <input name='edit-chooser' rv-value='item.name' onclick="window.editChanger.changeEditing()" type="radio">{item.name}
                </span>
            </form>
        </td>
        </tr>
        <tr>
            <button onclick="window.saver.addNewPopup()">Add new popup</button><br/>
        </tr>
    <tr rv-each-item="page.editPopup">
        <td>
            <table border=1>
                <tbody>
                    <tr>
                        <td>Name: <input rv-input="item.name"></td>
                        <td>Url: <input rv-input="item.url"></td>
                        <td>Depth: <input rv-input="item.height" type='range' min='0' max='20'><input style="width:50px" rv-input="item.height"></td>
                        <td>Camera Bound? <input type="checkbox" rv-checked="item.cameraBound"></td>
                        <td>Offset: <input rv-input="item.cameraBoundOffset" type='range' min='0' max='20'><input style="width:50px" rv-input="item.cameraBoundOffset"></td>
                        <td>Image<input rv-checked='item.surfaceType' type="radio" value="image">
                            Plain<input rv-checked='item.surfaceType' type="radio" value="plain">
                            Highlight<input rv-checked='item.surfaceType' type="radio" value="highlight">
                            Singalong<input rv-checked='item.surfaceType' type="radio" value="singalong">
                            ChangingPlainText<input rv-checked='item.surfaceType' type="radio" value="changingPlain">
                            OneLineRunOn<input rv-checked='item.surfaceType' type="radio" value="oneLineRunOn">
                            RepeatingImage<input rv-checked='item.surfaceType' type="radio" value="repeatingImage">
                        </td>
                    </tr>
                    <tr>
                        <td>Initial X:<input rv-input="item.initialX" type='range' min='-500' max='500'><input style="width:50px" rv-input="item.initialX"></td>
                        <td>Initial Y:<input rv-input="item.initialY" type='range' min='-500' max='500'><input style="width:50px" rv-input="item.initialY"></td>
                        <td>Scale: <input rv-input="item.scale" step="0.01" type='range' min='0.1' max='3'><input style="width:50px" rv-input="item.scale"></td>
                        <td>XYRatio: <input rv-input="item.xyRatio" step="0.01" type='range' min='0.1' max='3'><input style="width:50px" rv-input="item.xyRatio"></td>
                        <td>Singspeed: <input rv-input="item.singSpeed" type='range' min='0' max='3000'><input style="width:50px" rv-input="item.singSpeed"></td>
                        <td>Singmotion: <input rv-input="item.singMotion" type='range' min='0' max='3000'><input style="width:50px" rv-input="item.singMotion"></td>
                    </tr>
                    <tr>
                        <td>Animation Time Offset: <input rv-input="item.timeOffset" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.timeOffset"></td>
                        <td>XOrigin: <input rv-input="item.xOrigin" step="0.01" type='range' min='0' max='1'><input style="width:50px" rv-input="item.xOrigin"></td>
                        <td>YOrigin: <input rv-input="item.yOrigin" step="0.01" type='range' min='0' max='1'><input style="width:50px" rv-input="item.yOrigin"></td>
                        <td>Text: <textarea rv-input="item.text"></textarea></td>
                        <td>Classes: <input rv-input="item.surfaceClasses"></td>
                        <td>Opacity: <input rv-input="item.opacity" step="0.01" type='range' min='0' max='1'><input style="width:50px" rv-input="item.opacity"></td>
                    </tr>
                    <tr>
                        <td>SizeX: <input rv-input="item.sizeX" type='range' min='0' max='1500'><input style="width:50px" rv-input="item.sizeX"></td>
                        <td>SizeY: <input rv-input="item.sizeY" type='range' min='0' max='1500'><input style="width:50px" rv-input="item.sizeY"></td>
                        <td>InitialRotateX: <input rv-input="item.initialRotateX" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateX"></td>
                        <td>InitialRotateY: <input rv-input="item.initialRotateY" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateY"></td>
                        <td>InitialRotateZ: <input rv-input="item.initialRotateZ" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateZ"></td>
                    </tr>
                    <tr>
                        <td>Translation? <input type="checkbox" rv-checked="item.translate"></td>
                        <td>X: <input rv-input="item.translateX" type='range' min='-500' max='500'><input style="width:50px" rv-input="item.translateX"></td>
                        <td>X Speed: <input rv-input="item.translateXSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.translateXSpeed"></td>
                        <td>Y: <input rv-input="item.translateY" type='range' min='-500' max='500'><input style="width:50px" rv-input="item.translateY"></td>
                        <td>Y Speed:<input rv-input="item.translateYSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.translateYSpeed"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Cut? <input type="checkbox" rv-checked="item.translateTypeCut"></td>
                        <td>StartPercent: <input rv-input="item.translateCutStart" type='range' min='0' max='100'><input style="width:50px" rv-input="item.translateCutStart"></td>
                        <td>EndPercent: <input rv-input="item.translateCutEnd" type='range' min='0' max='100'><input style="width:50px" rv-input="item.translateCutEnd"></td>
                    </tr>
                    <tr>
                        <td>Motion type: Sine<input rv-checked='item.motionType' type="radio" value="sine"> Triangle<input rv-checked='item.motionType' type="radio" value="triangle"> Sawtooth<input rv-checked='item.motionType' type="radio" value="sawtooth"> Cos<input rv-checked='item.motionType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Rotation? <input type="checkbox" rv-checked="item.rotate"></td>
                        <td>Angle: <input rv-input="item.rotateAngle" type='range' min='1' max='50'><input style="width:50px" rv-input="item.rotateAngle"></td>
                        <td>Speed: <input rv-input="item.rotateSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.rotateSpeed"></td>
                        <td>Rotate type: Sine<input rv-checked='item.rotateType' type="radio" value="sine"> Triangle<input rv-checked='item.rotateType' type="radio" value="triangle"> Sawtooth<input rv-checked='item.rotateType' type="radio" value="sawtooth"> Cos<input rv-checked='item.rotateType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Zooming? <input type="checkbox" rv-checked="item.zoom"></td>
                        <td>Amount: <input rv-input="item.zoomAmount" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.zoomAmount"></td>
                        <td>Speed: <input rv-input="item.zoomSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.zoomSpeed"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Relative to translate? <input type="checkbox" rv-checked="item.zoomRelativeTranslate"></td>
                        <td>Multiplier: <input rv-input="item.zoomRelativeMultiplier" type='range' min='0' max='100'><input style="width:50px" rv-input="item.zoomRelativeMultiplier"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Cut? <input type="checkbox" rv-checked="item.zoomTypeCut"></td>
                        <td>StartPercent: <input rv-input="item.zoomCutStart" type='range' min='0' max='100'><input style="width:50px" rv-input="item.zoomCutStart"></td>
                        <td>EndPercent: <input rv-input="item.zoomCutEnd" type='range' min='0' max='100'><input style="width:50px" rv-input="item.zoomCutEnd"></td>
                    </tr>
                    <tr>
                        <td>Zoom type: Sine<input rv-checked='item.zoomType' type="radio" value="sine"> Triangle<input rv-checked='item.zoomType' type="radio" value="triangle"> Sawtooth<input rv-checked='item.zoomType' type="radio" value="sawtooth"> Cos<input rv-checked='item.zoomType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Skewing? <input type="checkbox" rv-checked="item.skew"></td>
                        <td>AmountX: <input rv-input="item.skewAmountX" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.skewAmountX"></td>
                        <td>SpeedX: <input rv-input="item.skewSpeedX" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.skewSpeedX"></td>
                        <td>AmountY: <input rv-input="item.skewAmountY" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.skewAmountY"></td>
                        <td>SpeedY: <input rv-input="item.skewSpeedY" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.skewSpeedY"></td>
                    </tr>
                    <tr>
                        <td>Accelerometer Translation? <input type="checkbox" rv-checked="item.accel"></td>
                        <td>Amount: <input rv-input="item.accelAmount" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.accelAmount"></td>
                    </tr>
                    <tr>
                        <td>Animation? <input type="checkbox" rv-checked="item.animation"></td>
                        <td>Speed: <input rv-input="item.animationSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="item.animationSpeed"></td>
                        <td>Num Frames: <input rv-input="item.numFrames" type='range' min='1' max='60'><input style="width:50px" rv-input="item.numFrames"></td>
                    </tr>
                    <tr>
                        <td><button onclick="window.saver.removePopup()">Remove Popup!!</button></td>
                    </tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table border=1>
                <tbody>
                    <tr>
                        <td>Name: <input rv-input="page.camera.name"></td>
                        <td>Url: <input rv-input="page.camera.url"></td>
                        <td>Depth: <input rv-input="page.camera.height" type='range' min='0' max='20'><input style="width:50px" rv-input="page.camera.height"></td>
                    </tr>
                    <tr>
                        <td>Initial X:<input rv-input="page.camera.initialX" type='range' min='-500' max='500'><input style="width:50px" rv-input="page.camera.initialX"></td>
                        <td>Initial Y:<input rv-input="page.camera.initialY" type='range' min='-500' max='500'><input style="width:50px" rv-input="page.camera.initialY"></td>
                        <td>Scale: <input rv-input="page.camera.scale" step="0.01" type='range' min='0.1' max='3'><input style="width:50px" rv-input="page.camera.scale"></td>
                        <td>XYRatio: <input rv-input="page.camera.xyRatio" step="0.01" type='range' min='0.1' max='3'><input style="width:50px" rv-input="page.camera.xyRatio"></td>
                    </tr>
                    <tr>
                        <td>Animation Time Offset: <input rv-input="page.camera.timeOffset" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.timeOffset"></td>
                        <td>XOrigin: <input rv-input="page.camera.xOrigin" step="0.01" type='range' min='0' max='1'><input style="width:50px" rv-input="page.camera.xOrigin"></td>
                        <td>YOrigin: <input rv-input="page.camera.yOrigin" step="0.01" type='range' min='0' max='1'><input style="width:50px" rv-input="page.camera.yOrigin"></td>
                    </tr>
                    <tr>
                        <td>InitialRotateX: <input rv-input="item.initialRotateX" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateX"></td>
                        <td>InitialRotateY: <input rv-input="item.initialRotateY" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateY"></td>
                        <td>InitialRotateZ: <input rv-input="item.initialRotateZ" step="0.01" type='range' min='-3.5' max='3.5'><input style="width:50px" rv-input="item.initialRotateZ"></td>
                    </tr>
                    <tr>
                        <td>Translation? <input type="checkbox" rv-checked="page.camera.translate"></td>
                        <td>X: <input rv-input="page.camera.translateX" type='range' min='-500' max='500'><input style="width:50px" rv-input="page.camera.translateX"></td>
                        <td>X Speed: <input rv-input="page.camera.translateXSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.translateXSpeed"></td>
                        <td>Y: <input rv-input="page.camera.translateY" type='range' min='-500' max='500'><input style="width:50px" rv-input="page.camera.translateY"></td>
                        <td>Y Speed:<input rv-input="page.camera.translateYSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.translateYSpeed"></td>
                    </tr>
                    <tr>
                        <td>Motion type: Sine<input rv-checked='page.camera.motionType' type="radio" value="sine"> Triangle<input rv-checked='page.camera.motionType' type="radio" value="triangle"> Sawtooth<input rv-checked='page.camera.motionType' type="radio" value="sawtooth"> Cos<input rv-checked='page.camera.motionType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Rotation? <input type="checkbox" rv-checked="page.camera.rotate"></td>
                        <td>Angle: <input rv-input="page.camera.rotateAngle" type='range' min='1' max='50'><input style="width:50px" rv-input="page.camera.rotateAngle"></td>
                        <td>Speed: <input rv-input="page.camera.rotateSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.rotateSpeed"></td>
                        <td>Rotate type: Sine<input rv-checked='page.camera.rotateType' type="radio" value="sine"> Triangle<input rv-checked='page.camera.rotateType' type="radio" value="triangle"> Sawtooth<input rv-checked='page.camera.rotateType' type="radio" value="sawtooth"> Cos<input rv-checked='page.camera.rotateType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Zooming? <input type="checkbox" rv-checked="page.camera.zoom"></td>
                        <td>Amount: <input rv-input="page.camera.zoomAmount" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.zoomAmount"></td>
                        <td>Speed: <input rv-input="page.camera.zoomSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.zoomSpeed"></td>
                        <td>Zoom type: Sine<input rv-checked='page.camera.zoomType' type="radio" value="sine"> Triangle<input rv-checked='page.camera.zoomType' type="radio" value="triangle"> Sawtooth<input rv-checked='page.camera.zoomType' type="radio" value="sawtooth"> Cos<input rv-checked='page.camera.zoomType' type="radio" value="cos">
                        </td>
                    </tr>
                    <tr>
                        <td>Accelerometer Translation? <input type="checkbox" rv-checked="page.camera.accel"></td>
                        <td>Amount: <input rv-input="page.camera.accelAmount" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.accelAmount"></td>
                    </tr>
                    <tr>
                        <td>Accelerometer Rotation? <input type="checkbox" rv-checked="page.camera.accelRotate"></td>
                        <td>Amount: <input rv-input="page.camera.accelRotateAmount" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.accelRotateAmount"></td>
                    </tr>
                    <tr>
                        <td>Zoom Perspective? <input type="checkbox" rv-checked="page.camera.perspectiveZoom"></td>
                        <td>Motion type: Sine<input rv-checked='page.camera.perspectiveZoomType' type="radio" value="sine"> Triangle<input rv-checked='page.camera.perspectiveZoomType' type="radio" value="triangle"> Sawtooth<input rv-checked='page.camera.perspectiveZoomType' type="radio" value="sawtooth"> Cos<input rv-checked='page.camera.perspectiveZoomType' type="radio" value="cos">
                        </td>
                        <td>Amount: <input rv-input="page.camera.perspectiveZoomAmount" type='range' min='-500' max='500'><input style="width:50px" rv-input="page.camera.perspectiveZoomAmount"></td>
                        <td>Speed: <input rv-input="page.camera.perspectiveZoomSpeed" type='range' min='100' max='3000'><input style="width:50px" rv-input="page.camera.perspectiveZoomSpeed"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>Cut? <input type="checkbox" rv-checked="page.camera.perspectiveZoomCut"></td>
                        <td>StartPercent: <input rv-input="page.camera.perspectiveZoomCutStart" type='range' min='0' max='100'><input style="width:50px" rv-input="page.camera.perspectiveZoomCutStart"></td>
                        <td>EndPercent: <input rv-input="page.camera.perspectiveZoomCutEnd" type='range' min='0' max='100'><input style="width:50px" rv-input="page.camera.perspectiveZoomCutEnd"></td>
                    </tr>

                </tbody>
            </table>
        </td>
    </tr>
    </table>
</div>
</div>

<div id="device-area">
<img id="iphone-5-pic" src="/content/images/ipad.png">
<div id="device-screen" rv-class-hidden-overflow="hiddenOverflow" class="iphone-5 famous-container"></div>
<div id="top-screen" rv-class-hidden-overflow="hiddenOverflow" class="iphone-5 famous-container"></div>
</div>
